<form [formGroup]="form" (ngSubmit)="submit()">
    <h2 class="text-center" id="login-label">Login as administrator</h2>
    
    <div class="form-control">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email">
        <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="validation">
            <small *ngIf="form.get('email')?.errors!['required']">Enter email</small>
            <small *ngIf="form.get('email')?.errors!['email']">Enter a valid email</small>
        </div>
    </div>

    <div class="form-control">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password">
        <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid" class="validation">
            <small *ngIf="form.get('password')?.errors!['required']">Enter password</small>
            <small *ngIf="form.get('password')?.errors!['minlength']">Password must be at least {{getPasswordRequiredLength()}} characters. Now it is {{getPasswordActualLength()}}</small>
        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid || submitted">Login</button>
</form>
